/* colors 
#5ead97 - mint
#5e74ad - blue/purple
#ad975e - tan/brown

#549b87 - mint - 1 shade darker
#674238 - darker shade of brown
#9b5468
#1f705a
*/

#page-wrapper {
	width: 100%;
}

#content {
	max-width: 1024px;
}

.nav-link:hover,
.nav-link:focus {
	color: #fff;
}

a.nav-link {
	text-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
}

#main-header {
	background: #6485ad;
}

#site-name {
	font-size: 2.5rem;
	color: #1f705a;
	font-weight: 600;
	margin: 0 auto 1.5rem;
	font-weight: 500;
	line-height: 1.4;
	padding-top: 0.5rem;
	text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.25);
}

#main-nav {
	border-bottom: thin solid #555;
	padding-bottom: 1rem;
	font-size: 1.2rem;
}

.flex-container {
	display: flex;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}

#main-header .flex-container {
	justify-content: center;
	align-items: center;
	width: 100%;
}

.plus-add-item {
	font-size: 1.6rem;
	margin-bottom: 15px;
	margin-top: 10px;
}

/**** BUTTONS & ICONS ****/

.btn {
	margin-right: 0.7rem;
}

.icon-cancel {
	font-size: 2rem;
	margin-left: 20px;
}

.item-delete {
	color: #ff7851;
}

/**** STUDENTS ****/

#students-list-icons .item-info,
#students-list-icons .item-delete {
	font-size: 1.4rem;
	margin-left: 35px;
}

.student-single-img {
	width: 200px;
	margin-top: 25px;
	margin-bottom: 25px;
}

/**** SCHOOLS ****/

.school-list-name {
	font-size: 1.2rem;
}

.school-list-img {
	width: 400px;
	margin-right: 20px;
}

#school-action-icons .item-info,
#school-action-icons .item-delete,
#student-action-icons .item-info,
#student-action-icons .item-delete {
	font-size: 2rem;
	margin-bottom: 25px;
}

#school-single-main .list-group-item,
#student-single-main .list-group-item {
	border: none;
}

.school-single-img {
	width: 400px;
	margin-top: 25px;
	margin-bottom: 15px;
}

#school-single-main,
#school-edit-main,
#student-single-main,
#student-edit-main {
	margin-top: 20px;
	margin-bottom: 50px;
}

#school-single-students .student-name {
	font-size: 1.1rem;
}

.form-control::placeholder {
	color: #c7c7c7;
}
