#site-header {
	font-size: 2.5rem;
	margin: 1rem auto 1.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.btn {
	margin-right: 0.7rem;
}

.fa-window-close {
	font-size: 2rem;
}

.school-img,
.student-img {
	width: 100px;
	margin-right: 20px;
}

.school-img-lg {
	width: 200px;
}
.plus-add-item {
	font-size: 3rem;
	margin-bottom: 1rem;
}
